spring:
  cloud:
    gateway:
      mvc:
        routes:
          - id: user-service
            uri: http://localhost:8081
            predicates:
              - Path=/api/users/**
          - id: session-service
            uri: http://localhost:8082
            predicates:
              - Path=/api/sessions/**
